pip~=22.3.1
Padding~=0.5
attrs~=23.1.0
argparse~=1.4.0
distro~=1.8.0
colorlog~=6.7.0
wheel~=0.38.4
retry~=0.9.2
ipaddress~=1.0.23
cryptography~=38.0.4
Pillow~=9.5.0
docutils~=0.20.1
Jinja2~=3.1.2
setuptools~=65.5.1
packaging~=23.1
pyparsing~=3.1.0
Cython~=3.0.2
PySide2~=5.15.2.1